<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MapEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="MapEdit.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MapEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MapEdit.Properties.Settings>
            <setting name="ScreenWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="MapWidth" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="MapHeight" serializeAs="String">
                <value>13</value>
            </setting>
        </MapEdit.Properties.Settings>
        <MapEdit.Settings>
            <setting name="ScreenWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScreenHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </MapEdit.Settings>
    </applicationSettings>
    <userSettings>
        <MapEdit.Properties.Settings>
            <setting name="MapFileName" serializeAs="String">
                <value>CaveRaceLevel.bin</value>
            </setting>
        </MapEdit.Properties.Settings>
    </userSettings>
</configuration>